body {
    background-image: url(Images/whitegradient.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 10px;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: right;
    align-items: right;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

nav {
    display:flex;
    background-color: black;
    margin-bottom: 0px;
    height: 100px;
    width: 100%;
}

nav .nav-links{
    display: flex;
    width: 100%;
    text-align: right;
    list-style-type: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav .logocont {
    background-image: url(Images/CSMK1-2.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
    width: 100px; 
    height: 100px;
}

nav .tabscont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    width: auto;
    margin: 0 auto;
    gap: 35px;
    text-decoration: none;
    font-size: 20px;
    padding-right: 125px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 10px;
}

.centerlogo {
    background-color: black;
    background-image: url(Images/CSMK1-2.png);
    background-size: 95%; /* Enlarges the image within the circle */
    background-repeat: no-repeat;
    background-position: center center; /* Centers the image within the circle */
    width: 250px; /* Ensure width and height are equal */
    height: 250px;
    border-radius: 50%; /* Makes the container circular */
    margin: 5px auto; /* Centers the circle horizontally */
}

.middlequote {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}